---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import { getLang } from "@lib/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslation } from "@i18n/utils";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft || import.meta.env.DEV) // Visualize drafts in dev mode
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => {
    const slugWithoutLang = post.slug.split("/").slice(1).join("/");
    return {
      params: { lang: post.data.lang, slug: slugWithoutLang },
      props: post,
    };
  });
}
type Props = CollectionEntry<"blog">;

const lang = getLang(Astro.currentLocale);
const t = useTranslation(lang);
const post = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href={getRelativeLocaleUrl(lang, "blog")}>
        {t("blog.back")}
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body, lang)}
        </div>
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {post.data.title}
      </div>
      {
        post.data.tags && (
          <div class="animate flex flex-wrap gap-2 mt-4">
            {post.data.tags.map((tag: string) => (
              <span class="text-xs px-2 py-1 rounded-md bg-black/5 dark:bg-white/10 text-black/70 dark:text-white/70 font-medium">
                #{tag}
              </span>
            ))}
          </div>
        )
      }
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>
